/* Add here you favorite fonts */
@tailwind base;
@import './components.css';


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

@layer base {
  :root {
    --background: 263, 100%, 4%;
    --foreground: 222.2 47.4% 11.2%;

    --gradient-transparent-color-stops: 133.02% 176.97% at -20.56% -17.05%, rgba(254, 220, 143, 0.5) 0%, rgba(241, 102, 129, 0.5) 42.02%, rgba(167, 109, 250, 0.5) 70.78%, rgba(51, 214, 250, 0.5) 91.05%;
    --gradient-color-stops: 133.02% 176.97% at -20.56% -17.05%, rgba(254, 220, 143, 1) 0%, rgba(241, 102, 129, 1) 42.02%, rgba(167, 109, 250, 1) 70.78%, rgba(51, 214, 250, 1) 91.05%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent-bg: 258, 26%, 17%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 263, 100%, 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 258 57.4% 11.2%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 266 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

body {
  text-rendering: geometricPrecision;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
  font-family: var(--font-custom);
  @apply bg-white text-gray-800 antialiased dark:bg-background dark:text-gray-300;
}

.hero-image-shadow {
  box-shadow: 0 0 800px 0 var(--tw-shadow-color);
}

.TextGradient {
  background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg,#fde047 1.93%,#f97316 14.86%,#ef4444 48.09%,#624bbb 77.82%,#0e73cc 97.3%);
}

.text-gradient-orange {
  background-image: linear-gradient(339deg,#ff1422,#fd7305);
}

.PreviewButton {
  transition: all .15s;
  border: 3px solid transparent;
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#3b82f6,#c084fc,#ef4444,#f97316,#fde047);
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset 2px 1000px 1px #0a0a0a;
  border-radius: 9999px
}

.PreviewButton:hover {
  color: #fff;
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#fde047,#f97316,#ef4444,#c084fc,#3b82f6);
}


.shiny-card {
  position: relative;
}

.shiny-card:before {
  background: linear-gradient(270deg,rgba(61,53,78,0) 28.87%,#3d354e 45.39%,#3d354e 53.54%,rgba(61,53,78,0) 70.06%);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.white-text-gradient {
  background: linear-gradient(180deg,#fff 22.5%,rgba(255,255,255,.7) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .dark\:white-text-gradient {
      background: linear-gradient(180deg,#fff 22.5%,rgba(255,255,255,.7) 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
  }
}

/* For webkit browsers: Chrome, Safari, etc. */
::-webkit-scrollbar {
  width: 10px;
}

@media(max-width:600px){
  ::-webkit-scrollbar {
    display: none;
  }
}


::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track transparent */
  border-radius: 5px; /* Add rounded corners to the track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(31, 6, 39, 0.103); /* Adjust the color and transparency */
  border-radius: 5px; /* Add rounded corners to the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(54, 50, 56, 0.281); /* Make the thumb darker on hover */
}

.faq-row > div{
  display: flex;
  align-items: top;
  flex-direction: row;
  width: 100%;
}

